.bar {
    background: #ececec;
    border-bottom: 1px solid #979797;
    border-top: 1px solid #979797;
    color: #565656;
    display: flex;
    height: 40px;
    justify-content: center;
    left: 0;
    position: sticky;
    top: calc(var(--bar-height) - 1px);
    width: 100%;
    z-index: 1000;
}

.button {
    border-radius: 0;
    border-right: 1px solid #979797;
    font-size: 1.2rem;
    margin: 0;
    min-width: 100px;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

.button:first-of-type {
    border-left: 1px solid #979797;
}

.buttonActive {
    background: #4a4a4a;
    color: #fff;
}
