.article {
    background: #fff;
    color: #000;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 2;
}

.article h2 {
    font-size: var(--h4);
    margin-top: 1.6em;
    text-transform: none;
}

.article ul {
    list-style: disc;
    padding-left: 1.4em;
}

.article li {
    font-size: 1.2rem;
    font-weight: var(--light);
    line-height: 1.6;
}
